* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	scroll-behavior: smooth;
}

html,
body {
	margin: 0px;
	line-height: 1.5;
	font-size: 15px;
}
.navbar {
	height: 68px;
	width: 100vw;
	background-color: #eff1f3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	max-width: 1300px;
	display: flex;
	gap: 20px;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 48px;
	/* height: 48px; */
}

.flex {
	display: flex;
}
.input-icon {
	display: flex;
	background-color: white;
	border: 2px solid #002f34;
	border-radius: 3px;
	height: 44px;
}
.icon {
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}
input {
	border: none;
	outline: none;
	padding-left: 10px;
	color: #002f34;
	font-size: 16px;
}
input:focus + .arrow {
	transform: rotate(180deg);
	transition-duration: 0.5s;
}
.input-icon:has(input:focus) {
	border: 2px solid #23e5db;
}
.search {
	/* sadsada */
	height: 44px;
	background-color: #002f34;
	color: white;
}
.input-search {
	width: 634px;
}
.login {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
	color: #002f34;
	height: 48px;
}
.jual {
	display: flex;
	height: 48px;
	width: 109px;
}

/* ======================================================= */
#barang {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	justify-items: center;
	overflow: hidden;
}
.col {
	display: flexbox;
	float: left;
	padding: 0 8px;
}

.col-barang {
	width: calc(100% / 4);
}

.barang-list {
	padding: 32px 0;
}

.barang-item {
	text-align: left;
	margin-bottom: 8px;
}

.barang-price {
	margin: 15px 0;
	font-weight: 500;
	font-size: 20px;
}

.barang-name {
	margin: 15px 0;
}

.barang-img {
	width: 60%;
	border-radius: 4px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	margin: auto;
	text-align: center;
}

.containerNumber {
	display: flex;
	text-align: center;
	justify-content: center;
}
.btn {
	margin-top: 5px;
	height: 20px;
	background-color: #2ce8f9;
	color: #002f34;
	border-radius: 50%;
	cursor: pointer;
}

/* Make them responsive and restricted*/

/* Desktop/PC */
/* @media (min-width: 1024px) {
}

/* Ipad/Tablet */
/* @media (min-width: 740px) and (max-width: 1023px) {
}

@media (max-width: 739px) {
	#barang,
	.full-column {
		width: 100% !important;
		margin: 8px 0;
	}
	.navbar {
		width: 100% !important;
		margin: 8px 0;
	}
/* }*/
